*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.log
*.idea/
build/
.gradle/
*.keystore
Thumbs.db
.idea/
*.ipr
*.iws
*.xml
*.apk
*.ap_
proguard/
**/build/
gradle/
gradle-wrapper.jar
gradle-wrapper.properties
